<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 class="titre-homepage">Bibliothèque de Jeu video</h1>

        </div>
    </div>

    <div class="row">
        {{#each posts}} <!-- posts est la donnée qui est dans l'objet sur home page JS-->
        <div class="col-md-4">
            <div class="card mb-5">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>{{nom}}</h2>
                    <ul>
                        <li class="list-card">Jeux de type: {{categorie}}</li>
                        <li class="list-card">Pour {{plateforme}}</li>
                    </ul>
                    <p>{{description}}</p>
                    <h3>Prix de vente :{{prix}}€</h3>
                    
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>