<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 class="titre-homepage">Bibliothèque de Jeu video</h1>

        </div>
    </div>

    <div class="row">
        {{#each posts}} <!-- posts est la donnée qui est dans l'objet sur home page JS-->
        <div class="col-md-4">
            <div class="card mb-5">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>{{nom}}</h2>
                    <h5>Jeux de type:{{categorie}}</h5>
                    <h5>Pour {{plateforme}}:</h5>
                    <p class="card-text">{{description}}</p>
                    <h3>Prix de vente :{{prix}}€</h3>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>